body{
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
   

}

  

button {
      
      background: hsla(22, 88%, 57%, 0.5);
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      font-size: 18px;
    }
    button:hover {
      background: #b71c1c;
    }
#heading {
    font-size: 50px;
    color: rgb(216, 59, 7);
    padding : 20px;
    background-color: hsla(0, 0%, 50%, 0.5);
    text-align: center;
    box-shadow: 0 4px 8px rgba(red, green, blue, alpha);
    border-radius: 15px;
    
}
#info {
    font-size: 22px;
    padding: 20px;
    background-color: hsla(0, 3%, 32%, 0.5);
    border-radius: 6%;

    border-color: rgb(74, 67, 67);
    color: rgb(86, 9, 9);
      text-shadow: 0 0 10px gold, 0 0 20px orange, 0 0 5px red;
}
#navigation{

  nav ul{
    display: flex;
    gap: 50px;
  }
  nav ul li a {
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 6px;
    transition: background 0.3s;
    color: black;
  }
  background-color: hsla(61, 55%, 66%, 0.5);
}
footer{
  background-color: gray;
  margin-top: 20px;
  color: black;
}
#contact img{
  height: 40px;
  width: 40px;
  margin: 10px;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
